/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

body{
  font-family: serif, sans-serif;
  background-image: image-url(background.jpg);
}

h2, h3{
  font-family: 'Shippori Mincho B1', serif;
}

.navbar{
  background-color: #202020;
}

.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

.dropright .dropdown-menu{
  padding: 0;
  margin-left: 0;
}

.navbar-toggler{
  border-color: #ffffff;
  background-color: #202326;
  .navbar-toggler-icon {
    background-image: image-url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.tag {
 background:#eee;
 border:none;
 color: #666;
 padding: 3px;
 margin: 3px;
 border-radius: 3px;
}
// kaminariのデザイン変更
.pagination{
    li a {
      color: #696969;
      margin: 0 5px;
      border-radius: 0.25rem;
    }
    li a:hover{
        background: #93c9ff;
      }
    .active .page-link {
      background: #adb5bd;
      border: gray;
      color: #000;
    }
}

.footer{
  background-color: #565656;
}