/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');

body{
  font-family: serif, sans-serif;
  background-image: image-url("background.jpg");
}

h2, h3{
  font-family: 'Shippori Mincho B1', serif;
}
// エラーメッセージ表示する際の入力フォームの崩れ防止
.field_with_errors {
  display: contents;
}

.navbar{
  background-color: #202020;
}

.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

.dropright .dropdown-menu{
  padding: 0;
  margin-left: 0;
}

.search_form select{
  height: 30px;
}

.tag {
 background:#eee;
 border: none;
 color: #666;
 padding: 3px;
 margin: 3px;
 border-radius: 3px;
}
// kaminariのデザイン変更
.pagination{
    li a {
      color: #696969;
      margin: 0 5px;
      border-radius: 0.25rem;
    }
    li a:hover{
        background: #93c9ff;
      }
    .active .page-link {
      background: #adb5bd;
      border: gray;
      color: #000;
    }
}

main{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.footer{
  margin-top: auto;
  background-color: #565656;
}

@media screen and (max-width:992px) {
  // レスポンシブ対応時ヘッダーを見やすいように大きくする
  header{
    height: 110px;
  }

  .navbar img{
  height: 100px;
  width: 170px;
  }
  // ハンバーガーメニュー
  .navbar-toggler{
  width: 90px;
  height: 90px;
  border-color: #ffffff;
  border-width: 2px;
  background-color: #202326;
  position: relative;
    span{
    position: absolute;
    left: 9px;
    width: 80%;
    height: 6px;
    background-color: #ffffff;
    border-radius: 6px;
    }
    span:nth-child(1){
      top: 20px;
    }
    span:nth-child(2){
      top: 42px;
    }
    span:nth-child(3){
      top: 64px;
    }
  }

  .search_form{
    margin-bottom: 15px;
    input, select{
      height: 40px;
    }
  }

  .navbar-nav li{
    height: 65px;
    font-size: 30px;
    width: 50%;
  }

  .dropdown-menu .drop-hover:hover > .dropdown-menu{
    position: absolute;
    left: 200%;
  }
  // フッターのレスポンシブ対応
  .footer{
    height: 150px;
    img{
      height: 80px;
      width: 150px;
      margin-bottom: 10px;
    }
    div{
      font-size: 22px;
    }
  }
}
