// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-visual{
  height: 750px;
}

.main-image1{
  background-image: url(shrine1.jpg);
}

.main-image2{
  background-image: url(shrine2.jpg);
}

.main-image3{
  background-image: url(shrine3.jpg);
}

.main-image4{
  background-image: url(shrine4.jpg);
}

.top-content-light{
  background-color: #f4f2ee;
}

.top-content-dark{
  background-color: #001722;
}