// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-visual{
  height: 750px;
}

.main-image1{
  background-image: image-url("shrine1.jpg");
}

.main-image2{
  background-image: image-url("shrine2.jpg");
}

.main-image3{
  background-image: image-url("shrine3.jpg");
}

.main-image4{
  background-image: image-url("shrine4.jpg");
}

.top-content-light{
  background-color: #f4f2ee;
}

.top-content-dark{
  background-color: #001722;
}

.underline-light{
  position: relative;
  z-index: 1;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background: #f4f2ee;
    z-index: -1;
    transition: all 800ms;
  }
  &.isActive:after{
    width: 100%;
  }
}

.underline-dark{
  position: relative;
  z-index: 1;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background: #001722;
    z-index: -1;
    transition: all 800ms;
  }
  &.isActive:after{
    width: 100%;
  }
}

.fadein-right{
  opacity: 0;
  transform : translate(50px, 0);
  transition : all 1200ms;
  &.scrollin{
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fadein-left{
  opacity: 0;
  transform : translate(-50px, 0);
  transition : all 1200ms;
  &.scrollin{
    opacity: 1;
    transform: translate(0, 0);
  }
}
