// Place all the styles related to the shrines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shrine-images{
  width: 100%;
  height: 400px;
}

.shrine_index_images{
  width: 48%;
  height: auto;
  margin: 1%;
}

.shrine_post_images{
  width: 31%;
  margin: 0 1%;
}

.w-20{
  width: 20%;
}

.admin_shrine_images{
  width: 100%;
  height: auto;
  max-height: 230px;
}