<% if model.errors.any? %>
  <div class="text-danger">
    <%= model.errors.count %>件のエラーが発生しました
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
